* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 50px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

.optBox{
  cursor: pointer;
  padding: 20px;
  width: 60%;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
}

input.invalid {
  background-color: red;
}

.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}


.short-container{
  display: none;
}

.mdl {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

@media screen and (max-width: 1000px) {
  textarea{
  
  }
}